body {
  background-color: #35495e;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides iframe {
  display: block;
  width: 90%;
  margin: 20px auto;
}

.reveal pre {
  width: 100%;
}

.reveal pre code {
  padding: 15px;
}

.reveal .big-heading-slide h1 {
  text-decoration: underline;
}

.reveal .center {
  text-align: center;
}

.reveal pre.no-background {
  box-shadow: unset;
}

.reveal pre.html-result {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: unset;
  background-color: #ffffff;
  color: #000000;
  white-space: normal;
}

.reveal p > code,
.reveal li > code {
  color: #ff9da4;
}

.reveal blockquote {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}

.reveal blockquote > *:first-child {
  margin-top: 0;
}

.reveal blockquote > *:last-child {
  margin-bottom: 0;
}

.reveal .margin-top {
  margin-top: 40px;
}

.reveal pre code {
  max-height: 600px;
}
